<div id="figures_thumbs_modal" class="gallery modal fade" role="dialog">
	<div class="modal-icons">
		<div class="hamburger hamburger--squeeze is-active close-view" data-dismiss="modal">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</div>
	</div>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="container">
					<div class="row">
						<div class="col-sm-6 thumb-img" id="witley" data-toggle="modal" data-target="#gallery_view">
							<div class="inner"">
								<div class="iframe"></div>
								<div class="thumb-label">Witley</div>
							</div>
						</div>
						<div class="col-sm-6 thumb-img" id="say" data-toggle="modal" data-target="#gallery_view">
							<div class="inner"">
								<div class="iframe"></div>
								<div class="thumb-label">S.A.Y</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 thumb-img" id="blanqkanvas" data-toggle="modal" data-target="#gallery_view">
							<div class="inner"">
								<div class="iframe"></div>
								<div class="thumb-label">Blanq Kanvas</div>
							</div>
						</div>
						<div class="col-sm-6 thumb-img" id="kojey" data-toggle="modal" data-target="#gallery_view">
							<div class="inner"">
								<div class="iframe"></div>
								<div class="thumb-label">Kojey Radical</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
