<div id="figures_thumbs_modal" class="gallery modal fade" role="dialog">
	<div class="modal-icons">
		<div class="hamburger hamburger--squeeze is-active close-view" data-dismiss="modal">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</div>
	</div>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="container">
					<%_ modalThumbs.forEach(row => { _%>
						<div class="row">
						<%_ row.forEach(thumb => { _%>
							<div class="col-sm-<%= colspan %> thumb-img" id="<%= thumb.id %>" data-toggle="modal" data-target="#gallery_view">
								<div class="inner"">
									<div class="iframe" oncontextmenu="return false"></div>
									<div class="thumb-label"><%= thumb.label %></div>
								</div>
							</div>
						<%_ }) _%>
						</div>
					<%_ }) _%>
				</div>
			</div>
		</div>
	</div>
</div>
