<div id="gallery_view" class="modal fade" role="dialog">
	<div class="modal-icons">
		<div class="hamburger hamburger--squeeze is-active close-view">
			<span class="hamburger-box">
				<span class="hamburger-inner"></span>
			</span>
		</div>
	</div>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="iframe" oncontextmenu="return false"></div>
			</div>
		</div>
	</div>
</div>
