<div id="gallery_view" class="modal fade" role="dialog">
	<div class="modal-icons">
		<a><i class="fas fa-th" id="toggleThumbnails"></i></a>&#8195;
		<a><i data-dismiss="modal" class="fas fa-times"></i></a>
	</div>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="iframe" oncontextmenu="return false"></div>
			</div>
		</div>
	</div>
</div>
