<div id="gallery_view" class="modal fade" role="dialog">
	<div class="modal-icons">
		<div class="close" data-dismiss="modal">
			<div>
				<div id="horizontal"></div>
				<div id="vertical"></div>
			</div>
		</div>
		<div id="toggleThumbnails">
			&#x25a0;&#x25a0;&#x25a0;<br>
			&#x25a0;&#x25a0;&#x25a0;<br>
			&#x25a0;&#x25a0;&#x25a0;
		</div>
	</div>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-body">
				<div class="iframe" oncontextmenu="return false"></div>
			</div>
		</div>
	</div>
</div>
