    </main>
    <footer>
        <div class="container">
            <div class="row">
                <div class="socials col-xs-6">
                    <a class="fab fa-instagram" target="_blank" aria-hidden="true" href="http://instagram.com/nathanzenga"></a>&#8195;
                    <a class="fab fa-linkedin" target="_blank" aria-hidden="true" href="https://uk.linkedin.com/in/nathan-zengamambu"></a>
                </div>
                <div class="toTop col-xs-6">BACK TO TOP</div>
            </div>
        </div>
    </footer>
    <%_ if (production && !/settings/gi.test(url)) { _%>
        <script type="text/javascript">
        var sc_project=11226028; 
        var sc_invisible=1; 
        var sc_security="1bbd0017"; 
        </script>
        <script type="text/javascript"
        src="https://www.statcounter.com/counter/counter.js"
        async></script>
        <noscript><div class="statcounter"><a title="Web Analytics"
        href="http://statcounter.com/" target="_blank"><img
        class="statcounter"
        src="//c.statcounter.com/11226028/0/1bbd0017/1/" alt="Web
        Analytics"></a></div></noscript>
    <%_ } _%>
</body>
</html>
