<%_ include partials/header _%>

			<div class="about">
				<p>Photographer &#149; Videographer &#149; Web Designer &#149; Programmer &#149; Visual Artist </p>
				<p>Based in London, UK</p>
				<p>&nbsp;</p>
				<p>My statement? <span>Define normal</span></p>
				<p>&nbsp;</p>
				<p>Commissions are open upon request.</p>
				<p>&nbsp;</p>
				<p><a class="icon" id="contactOpen" target="_blank"><i class="fa fa-envelope-o" aria-hidden="true"></i></a> <a class="icon" target="_blank" href="http://instagram.com/nathanzenga"><i class="fa fa-instagram" aria-hidden="true"></i></a>
				</p>
			</div>
			<div class="contact">
				<table width="100%" height="100%" border="0" style="text-align: center;">
					<tr>
						<td>
							<p>For business + enquiries:</p>
							<p><iframe frameborder="0" scrolling="no" width="100%" height="100%" id="submit_form" src="https://www.tumblr.com/submit_form/nathanzenga.tumblr.com" style="background-color:transparent; margin-top:0; overflow:hidden;"></iframe></p>
							<p>or</p>
							<p><a href="mailto:nathanzenga@gmail.com">nathanzenga@gmail.com</a></p>
						</td>
					</tr>
				</table>
				<div id="contactClose">&times;</div>
			</div>

<%_ include partials/footer _%>
