<section class="info">
	<div class="info-body centre">
		<p>London-based photographer, videographer, developer and visual artist.</p>
		<p class="gap">"&#8195;Define normal&#8195;"</p>
		<ul class="gap">Shows:
			<li>2017 - 'Welcome To Tottenham' - GUAP Ltd.</li>
		</ul>
		<p class="info-icons gap">
			<a class="fab fa-instagram" target="_blank" aria-hidden="true" href="http://instagram.com/nathanzenga"></a>&#8195;
			<a class="fab fa-linkedin" target="_blank" aria-hidden="true" href="https://uk.linkedin.com/in/nathan-zengamambu"></a>
		</p>
	</div>
</section>
