<%_ include partials/header _%>
    <main class="container">
        <div class="row content galleria-init"></div>

        <script src="/js/galleria-init.js"></script>
        <script>
            $.post("/p", {photo_set: "artwork", sort: '{"index": 1}'}, function(d) {
                var imgLength = d.length;
                d.forEach(function(e, i, arr) {
                    $(".content.galleria-init").append('<div class="img-container media-container col-sm-6" style="opacity: 0"><div class="inner img" id="'+ e.photo_set +'" data-toggle="modal" data-target="#gallery_view" oncontextmenu="return false"><img src="'+ e.photo_url +'"></div></div>');
                    if (i === arr.length-1) $(".img").click(loadGalleryView).galleria({ imageCrop: true, showImagenav: false });
                });
            });
        </script>
    </main>
<%_ include partials/footer _%>
