<section class="contact">
	<form class="form-group centre">
		<fieldset>
			<label class="sr-only">Email Address</label>
			<input class="form-control details half" style="margin-right: 20px;" type="email" id="email" name="email" placeholder="Your Email">

			<label class="sr-only">Name</label>
			<input class="form-control details half" type="text" id="name" name="name" placeholder="Your Name">

			<label class="sr-only">Subject</label>
			<input class="form-control details" type="text" id="subject" name="subject" placeholder="Subject">

			<label class="sr-only">Message</label>
			<textarea class="form-control details" type="text" id="message" name="message" placeholder="Enter Message"></textarea>
			
			<label class="sr-only">SUBMIT</label>
			<input class="form-control submit" type="submit" value="Send">

			<div class="result"></div>
		</fieldset>
	</form>
</section>
