<%_ include partials/header _%>
		<div class="row content">
			<div class="col-sm-8 img-container">
				<div class="inner slideshow">
					<div class="img" style="background-image: url('/img/design/WBR/WBR-web.png')"></div>
					<div class="img" style="background-image: url('/img/design/WBR/WBR-mobile.png')"></div>
					<div class="img" style="background-image: url('/img/design/WBR/WBR-web-2.png')"></div>
					<div class="img" style="background-image: url('/img/design/WBR/WBR-web-3.png')"></div>
					<div class="img" style="background-image: url('/img/design/WBR/WBR-mobile-3.png')"></div>
					<div class="img" style="background-image: url('/img/design/WBR/WBR-web-4.png')"></div>
					<div class="img" style="background-image: url('/img/design/WBR/WBR-mobile-4.png')"></div>
				</div>
			</div>
			<div class="col-sm-4 txt-container">
				<div class="inner">
					<p>Client:<br><b>WEREN'T BORN RICH</b></p>
					<br>
					<p>Primary tools:<br><b>Nodemailer and Express on Node.js, Stripe</b></p>
					<br>
					<p>Multi-device responsive design for an online store - embedded with Shopify API for data retrieval, built-in search engine & checkout process</p>
				</div>
			</div>
			<div class="col-sm-8 col-sm-push-4 img-container">
				<div class="inner slideshow">
					<div class="img" style="background-image: url('/img/design/ROOM113/ROOM113-web.png')"></div>
					<div class="img" style="background-image: url('/img/design/ROOM113/ROOM113-web-2.png')"></div>
					<div class="img" style="background-image: url('/img/design/ROOM113/ROOM113-mobile-2.png')"></div>
				</div>
			</div>
			<div class="col-sm-4 col-sm-pull-8 txt-container">
				<div class="inner">
					<p>Client:<br><b>ROOM 113</b></p>
					<br>
					<p>Primary tools:<br><b>MongoDB, Express on Node.js, Bootstrap</b></p>
					<br>
					<p>Multi-device responsive digital platform with API designed for persistant storage.</p>
				</div>
			</div>
		</div>
<%_ include partials/footer _%>