<!DOCTYPE html>
<html lang="en" class="nz">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="img/lsq.png">
	<title>Nathan Zenga</title>
	<meta name="keywords" content="Nathan Zenga, Visual Artist, Visuals, Artist, Digital Art, Digital, Art, Photography, Design, Photoshop, Videography, Filmmaker, Film, London, UK, Freelance">
	<meta name="description" content="London-based photographer, videographer, developer and visual artist.">
	<meta name="robots" content="index, follow">

	<link rel="stylesheet" type="text/css" href="/css/defaults.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<link rel="stylesheet" type="text/css" href="/css/galleria.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/plugins/flickr/galleria.flickr.min.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/nz-gal.js"></script>
</head>

<body>
	<div class="bgvid">
		<video autoplay loop muted poster="/img/bgvid-poster.jpg"><source src="/img/sparks.mp4"/></video>
	</div>

	<div id="nav_dropdown">Menu</div>

	<div class="container-fluid">
		<nav class="col-sm-5">
			<div class="inner-nav">
				<div class="row link" id="index"><a><img id="logo" src="/img/l.png"></a></div>
				<div class="row link gap" id="work"><a>Work</a></div>
				<div class="row link" id="info"><a>Info</a></div>
				<div class="row link" id="contact"><a>Contact</a></div>
				<div class="row gap icons">
					<a class="fa fa-instagram" target="_blank" aria-hidden="true" href="http://instagram.com/nathanzenga"></a>
				</div>
				<div class="row" id="navclose"><a class="glyphicon glyphicon-chevron-up"></a></div>
			</div>
		</nav>
		<div class="col-sm-7 main">
			<section class="index">
				<span>
					<div class="index-slideshow" oncontextmenu="return false" id="<%= typeof gallery == 'function' ? gallery() : gallery %>"></div>
				</span>
			</section>
			<section class="work">
				<div class="inner-container">
					<div class="row">
						<div class="col-sm-6 thumb" id="figures">
							<div class="cover-image"></div>
							<a><div class="overlay-label"><h3>Faces</h3></div></a>
						</div>
						<div class="col-sm-6 thumb" id="places1">
							<div class="cover-image"></div>
							<a><div class="overlay-label"><h3>Places</h3></div></a>
						</div>
					</div>
					<div class="row">
						<div class="col-sm-6 thumb" id="designs">
							<div class="cover-image"></div>
							<a><div class="overlay-label"><h3>Designs</h3></div></a>
						</div>
						<div class="col-sm-6 thumb" id="art">
							<div class="cover-image" style="background-color: black"></div>
							<a><div class="overlay-label"><h3>Videos</h3></div></a>
						</div>
					</div>
				</div>
			</section>
			<section class="info">
				<div class="info-body centre">
					<p>London-based photographer, videographer, developer and visual artist.</p>
					<p class="gap">"&nbsp;&nbsp;&nbsp;Define normal&nbsp;&nbsp;&nbsp;"</p>
				</div>
			</section>
			<section class="contact">
				<form class="form-group centre">
					<fieldset>
						<label class="sr-only">Email Address</label>
						<input class="form-control details half" style="margin-right: 20px;" type="email" id="email" name="email" placeholder="Your Email Address">

						<label class="sr-only">Name</label>
						<input class="form-control details half" type="text" id="name" name="name" placeholder="Your Name">

						<label class="sr-only">Message</label>
						<textarea class="form-control details" type="text" id="message" name="message" placeholder="Enter Message"></textarea>
						
						<label class="sr-only">SUBMIT</label>
						<input class="form-control submit" type="submit" value="Send">

						<div class="result"></div>
					</fieldset>
				</form>
			</section>
		</div>
	</div>
	<div class="leg">&copy; Nathan Zengamambu <%= new Date().getFullYear() %> | All rights reserved</div>
</body>
</html>
