<%_ include partials/header _%>
    <main>
        <script src="/js/galleria-init.js"></script>
        <section id="overview" style="height: 90vh">
            <script>
                $.post("/photos/overview", { set: "Assorted", orientation: window.innerWidth < window.innerHeight ? "portrait" : "landscape" }, function(data) {
                    $("#overview").html(data.join("")).galleria({
                        imageCrop: true,
                        autoplay: true,
                        showImagenav: false,
                        transitionSpeed: 2000,
                        swipe: "disabled"
                    })
                });
            </script>
        </section>
    </main>
<%_ include partials/footer _%>
