<%_ include partials/header _%>

<span>
	<div class="iframe" oncontextmenu="return false" id="<%= typeof gallery == 'function' ? gallery() : gallery %>"></div>
</span>

<%_ include partials/footer _%>
