<!DOCTYPE html>
<html lang="en" class="nz">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="img/lsq.png">
	<title>Nathan Zenga</title>
	<meta name="keywords" content="Nathan Zenga, Visual Artist, Visuals, Artist, Digital Art, Digital, Art, Photography, Design, Photoshop, Videography, Filmmaker, Film, London, UK, Freelance">
	<meta name="description" content="London-based photographer, videographer, developer and visual artist.">
	<meta name="robots" content="index, follow">

	<link rel="stylesheet" type="text/css" href="/css/defaults.css">
	<link rel="stylesheet" type="text/css" href="/css/galleria.css">
	<link rel="stylesheet" type="text/css" href="/css/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/plugins/flickr/galleria.flickr.min.js"></script>
	<script src="/js/libs/detect.min.js"></script>
	<script src="/js/libs/detect-config.js"></script>
	<script src="/js/libs/jquery.easing.1.3.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/nz-gal.js"></script>
</head>

<body>
	<%_ include modals/gallery _%>
	<main class="inner-body container">
		<div class="row title">
			<div class="name">&copy; NATHAN ZENGA</div>
			<div class="occupation">VISUAL ARTIST</div>
		</div>
		<div class="row menu">
			<div class="menu-icon-container mb-view-md">
				<button class="hamburger hamburger--spin menu-icon" type="button">
					<span class="hamburger-box">
						<span class="hamburger-inner"></span>
					</span>
				</button>
			</div>
			<nav class="dt-view-md">
				<a href="/">Overview</a><span class="dt-view-md">&emsp;&emsp;</span><span class="mb-view-md"><br><br></span>
				<a href="/photo">Photography</a><span class="dt-view-md">&emsp;&emsp;</span><span class="mb-view-md"><br><br></span>
				<a href="/design">Designs</a><span class="dt-view-md">&emsp;&emsp;</span><span class="mb-view-md"><br><br></span>
				<a href="/video">Motion</a><span class="dt-view-md">&emsp;&emsp;</span><span class="mb-view-md"><br><br></span>
				<a href="/info">Info</a>
			</nav>
		</div>
		<div class="row content grid">
			<%_ var n = 0; _%>
			<%_ for (i = 0; i <= 16; i++) { _%>
				<%_ if (n >= 5) n = 0; _%>
				<div class="col-sm-6 <%= n < 2 ? '' : 'col-md-4 ' %>thumb"><div class="inner" data-toggle="modal" data-target="#gallery_view"></div></div>
				<%_ n++; _%>
			<%_ } _%>
		</div>
	</main>
<!-- 	<div class="leg copyright" id="copyright">&copy; Nathan Zengamambu <%= new Date().getFullYear() %> | All rights reserved</div>
	<script type="text/javascript">
	var sc_project=11226028; 
	var sc_invisible=1; 
	var sc_security="1bbd0017"; 
	</script>
	<script type="text/javascript"
	src="https://www.statcounter.com/counter/counter.js"
	async></script>
	<noscript><div class="statcounter"><a title="Web Analytics"
	href="http://statcounter.com/" target="_blank"><img
	class="statcounter"
	src="//c.statcounter.com/11226028/0/1bbd0017/1/" alt="Web
	Analytics"></a></div></noscript> -->
</body>
</html>
