<%_ include partials/header _%>
    <main>
        <div id="overview" style="height: 90vh">
            <script src="/js/galleria-init.js"></script>
            <script>
                var isLandscape, galleryLoadTimeout, initialHeight = "90vh";
                Galleria.ready(function() {
                    var g = this;
                    if (!isLandscape) {
                        $("#overview").css({ height: "70vh", transition: "none" });
                        g.resize({ height: "70vh" }).setOptions({ imageCrop: false, imagePosition: "center" }).refreshImage();
                    }
                });
                $(window).on("load resize", function() {
                    clearTimeout(galleryLoadTimeout);
                    galleryLoadTimeout = setTimeout(function() {
                        if ( isLandscape !== window.innerWidth >= window.innerHeight ) {
                            var gd = $("#overview").data("galleria");
                            isLandscape = window.innerWidth >= window.innerHeight;
                            $.post("/p", {
                                photo_set: "Assorted",
                                orientation: isLandscape ? "landscape" : undefined,
                                sort: '{"index": 1}'
                            }, function(d) {
                                if (gd) gd.destroy();
                                $("#overview").html(d.map(function(e) { return "<img src='"+ e.photo_url +"'>" }).join("")).galleria({
                                    imageCrop: isLandscape,
                                    autoplay: true,
                                    showImagenav: false,
                                    transitionSpeed: 1000,
                                    imagePosition: !isLandscape ? "top center" : undefined,
                                    swipe: "disabled"
                                }).css("height", initialHeight);
                            });
                        }
                    }, 50)
                });
            </script>
        </div>
    </main>
<%_ include partials/footer _%>
