<%_ include partials/header _%>
		<%_ if (pagename === "error") { _%>
		<h1 style="text-align: center;">SORRY, PAGE NOT FOUND</h1>
		<%_ } else { _%>
		<div class="row content galleria-init">
			<div class="grid-container"><div class="grid"></div></div>
		</div>
		<%_ } _%>
<%_ include partials/footer _%>
