<%_ include partials/header _%>
		<div class="row content grid">
			<%_ for (i = 0; i <= 16; i++) { _%>
				<div class="col-sm-6 col-md-4 thumb"><div class="inner" data-toggle="modal" data-target="#gallery_view" oncontextmenu="return false"></div></div>
			<%_ } _%>
		</div>
<%_ include partials/footer _%>
