<!DOCTYPE html>
<html lang="en" class="nz">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="icon" href="img/lsq.png">
	<title>Nathan Zenga</title>
	<meta name="keywords" content="Nathan Zenga, Visual Artist, Visuals, Artist, Digital Art, Digital, Art, Photography, Design, Photoshop, Videography, Filmmaker, Film, London, UK, Freelance">
	<meta name="description" content="London-based photographer, videographer, developer and visual artist.">
	<meta name="robots" content="index, follow">

	<link rel="stylesheet" type="text/css" href="/css/defaults.css">
	<link rel="stylesheet" type="text/css" href="/css/galleria.css">
	<link rel="stylesheet" type="text/css" href="/css/hamburgers.min.css">
	<link rel="stylesheet" type="text/css" href="/css/main.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/galleria.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/galleria/1.5.7/plugins/flickr/galleria.flickr.min.js"></script>
	<script src="/js/libs/detect.min.js"></script>
	<script src="/js/libs/detect-config.js"></script>
	<script src="/js/libs/jquery.easing.1.3.js"></script>
	<script src="/js/main.js"></script>
	<script src="/js/nz-gal.js"></script>
</head>

<body>
	<%_ include modals/gallery _%>

	<div class="bgvid">
		<video autoplay loop muted poster="/img/bgvid-poster.jpg"><source src="/img/sparks.mp4"/></video>
	</div>

	<div id="nav_dropdown">Menu</div>

	<div class="container-fluid">
		<nav class="col-sm-4">
			<div class="inner-nav">
				<div class="row link" id="index"><a><img id="logo" src="/img/l.png"></a></div>
				<div class="row link gap" id="work"><a>Work</a></div>
				<div class="row link" id="info"><a>Info</a></div>
				<div class="row link" id="contact"><a>Contact</a></div>
				<div class="row gap nav-icons">
					<a class="fab fa-instagram" target="_blank" aria-hidden="true" href="http://instagram.com/nathanzenga"></a>&#8195;
					<a class="fab fa-linkedin" target="_blank" aria-hidden="true" href="https://uk.linkedin.com/in/nathan-zengamambu"></a>
				</div>
				<div class="row" id="navclose"><a class="glyphicon glyphicon-chevron-up"></a></div>
			</div>
		</nav>
		<div class="col-sm-8 main">
			<section class="index">
				<span>
					<div class="index-slideshow" oncontextmenu="return false" id="assorted"></div>
				</span>
			</section>
			<%_ include work _%>
			<%_ include about _%>
			<%_ include contact _%>
		</div>
	</div>
	<div class="leg copyright" id="copyright">&copy; Nathan Zengamambu <%= new Date().getFullYear() %> | All rights reserved</div>
	<script type="text/javascript">
	var sc_project=11226028; 
	var sc_invisible=1; 
	var sc_security="1bbd0017"; 
	</script>
	<script type="text/javascript"
	src="https://www.statcounter.com/counter/counter.js"
	async></script>
	<noscript><div class="statcounter"><a title="Web Analytics"
	href="http://statcounter.com/" target="_blank"><img
	class="statcounter"
	src="//c.statcounter.com/11226028/0/1bbd0017/1/" alt="Web
	Analytics"></a></div></noscript>
</body>
</html>
