<%- include ('partials/header') -%>
    <main class="container">
        <div class="row">
            <div class="col-sm-6 float-left info-txt">
                <%- txt.text %>
            </div>

            <div class="col-sm-6 float-left contact-form">
                <form class="form-group" method="post" action="/send/message">
                    <label class="sr-only">Name</label>
                    <input class="form-control details" type="text" id="name" name="name" placeholder="Your Name" required>

                    <label class="sr-only">Email Address</label>
                    <input class="form-control details" type="email" id="email" name="email" placeholder="Your Email" required>

                    <label class="sr-only">Subject</label>
                    <input class="form-control details" type="text" id="subject" name="subject" placeholder="Subject" required>

                    <label class="sr-only">Message</label>
                    <textarea class="form-control details" type="text" id="message" name="message" placeholder="Enter Message" required></textarea>

                    <input class="form-control submit" type="submit" value="Send">
                </form>
            </div>
        </div>
    </main>

    <script>
        $("form").submit(function(e) {
            e.preventDefault();
            var btnControl = new submitBtnController(this);
            $.post(this.action, $(this).serializeArray(), function(msg) {
                alert(msg);
                e.target.reset();
            }).fail(function(err) {
                alert(err.responseText);
            }).always(function() {
                btnControl.finish();
            })
        })
    </script>
<%- include ('partials/footer') -%>
