<%_ include partials/header _%>
        <div class="row content galleria-init">
            <div class="grid-container">
                <div class="grid">
                    <%_ galleries.forEach(gallery => { _%>
                    <div class="img-container media-container" style="opacity: 0">
                        <div class="inner img" id="<%= gallery.tag %>-<%= gallery.set_id %>" data-toggle="modal" data-target="#gallery_view" oncontextmenu="return false"></div>
                        <label><%= gallery.label %></label>
                    </div>
                    <%_ }) _%>
                </div>
            </div>
        </div>

        <script src="/js/galleria-init.js"></script>
        <script>
            var post = $.post('/key');
            var key = post.status != 404 ? post.responseText : undefined;
            var flickr = new Galleria.Flickr(key);
            var imgLength = $(".content.galleria-init .img").length;
            $(".content.galleria-init .img").each(function(i) {
                var img = this;
                var id = img.id.split("-")[0];

                flickr.tags("nz-"+ id +"-cover", function(data) {
                    if (data.length) $(img).html("<img src="+ data[0].big +">").children().on("load", {imgLength}, imgOrientation);
                });
            }).click(loadGalleryView)
        </script>
<%_ include partials/footer _%>