<%_ include partials/header _%>
    <main class="container">
        <div class="row content galleria-init">
            <div class="grid-container">
                <div class="grid"></div>
            </div>
        </div>

        <script src="/js/galleria-init.js"></script>
        <script>
            $.post("/p", [
                { name: "photo_set_cover", value: true },
                { name: "sort", value: '{ "photo_set_index": 1 }' }
            ], function(d) {
                var imgLength = d.length;
                d.forEach(function(e) {
                    $($(".grid").length ? ".grid" : ".galleria-init").append(
                        '<div class="img-container media-container" style="opacity: 0">'+
                            '<div class="inner img" id="'+ e.photo_set +'" data-toggle="modal" data-target="#gallery_view" oncontextmenu="return false"></div>'+
                            '<label>'+ e.photo_set +'</label>'+
                        '</div>'
                    ).find(".img:last").html("<img src="+ e.photo_url +">").children().on("load", {imgLength}, imgOrientation);
                });
                $(".img").click(loadGalleryView);
            });
        </script>
    </main>
<%_ include partials/footer _%>