<%_ include partials/header _%>
	<div class="row content">
		<div class="col-sm-4 form-container">
			<div class="inner">
				<label> New gallery (Photography) </label>
				<form class="form-group gallery-settings" method="post" action="/settings/save/gallery">
					<label class="sr-only">Gallery Name</label>
					<input class="form-control details" type="text" id="gallery" name="gallery" placeholder="Gallery ID">
					<label class="sr-only">Label</label>
					<input class="form-control details" type="text" id="label" name="label" placeholder="Label">
					<input class="form-control submit" type="submit" name="submit" value="Save">
				</form>
			</div>
		</div>

		<div class="col-sm-4 form-container">
			<div class="inner">
				<label> Designs </label>
				<form class="form-group designs-settings" method="post" action="/settings/save/designs">
					<label class="sr-only">ID</label>
					<input class="form-control details" type="text" id="id" name="id" placeholder="ID">
					<label class="sr-only">Client</label>
					<input class="form-control details" type="text" id="client" name="client" placeholder="Client">
					<label class="sr-only">Tools</label>
					<input class="form-control details" type="text" id="tool" name="tool" placeholder="tool">
					<label class="sr-only">Description</label>
					<input class="form-control details" type="text" id="description" name="description" placeholder="Description">
					<label class="sr-only">Link</label>
					<input class="form-control details" type="text" id="link" name="link" placeholder="Link">
					<input class="form-control submit" type="submit" name="submit" value="Save">
				</form>
			</div>
		</div>

		<div class="col-sm-4 form-container">
			<div class="inner">
				<label> Info </label>
				<form class="form-group info-text-settings" method="post" action="/settings/save/info-text">
					<label class="sr-only">Info</label>
					<input class="form-control details" type="text" id="info" name="info" placeholder="Info">
					<input class="form-control submit" type="submit" name="submit" value="Save">
				</form>
			</div>
		</div>
	</div>

	<div class="row content">
		<div class="col-sm-4 list-container gallery-list">
			<%_ docs.galleries.forEach(gallery => { _%>
				<form class="form-group" method="post" action="/settings/delete/gallery/<%= gallery._id %>">
					<div class="col-xs-8"><input class="form-control details" type="text" id="info" name="info" value="<%= gallery.label %>" disabled></div>
					<div class="col-xs-2"><button class="form-control submit edit" type="submit" name="submit"><i class="fas fa-edit"></i></button></div>
					<div class="col-xs-2"><button class="form-control submit delete btn-danger" type="submit" name="submit"><i class="fas fa-trash-alt"></i></button></div>
				</form>
			<%_ }) _%>
		</div>
	</div>
<%_ include partials/footer _%>
