<%_ include partials/header _%>
	<div class="form-group">
		<form id="gallery-form">
			<label class="sr-only">Gallery Name</label>
			<input class="form-control details" type="text" id="gallery" name="gallery" placeholder="Gallery Name" required>
			<label class="sr-only">Label</label>
			<input class="form-control details" type="text" id="label" name="label" placeholder="Label" required>
		</form>

		<form id="design-form">
			<label class="sr-only">ID</label>
			<input class="form-control details" type="text" id="id" name="id" placeholder="ID" required>
			<label class="sr-only">Client</label>
			<input class="form-control details" type="text" id="client" name="client" placeholder="Client" required>
			<label class="sr-only">Tools</label>
			<input class="form-control details" type="text" id="tool" name="tool" placeholder="tool" required>
			<label class="sr-only">Description</label>
			<input class="form-control details" type="text" id="description" name="description" placeholder="Description" required>
			<label class="sr-only">Link</label>
			<input class="form-control details" type="text" id="link" name="link" placeholder="Link" required>
		</form>

		<form id="info-form">
			<label class="sr-only">Info</label>
			<input class="form-control details" type="text" id="info" name="info" placeholder="Info" required>
		</form>
	</div>
<%_ include partials/footer _%>
