<%_ include partials/header _%>
    <script> var d = null; $.post("/p", {}, function(r) { d = r }); </script>

    <main class="container">
        <div class="row content">
            <ul class="nav nav-pills">
                <li class="active"><a data-toggle="pill" href="#galleries">Galleries</a></li>
                <li><a data-toggle="pill" href="#infotext">Info Text</a></li>
                <li><a data-toggle="pill" href="#designs">Designs</a></li>
                <li><a data-toggle="pill" href="#sort-order">Sort order</a></li>
            </ul>

            <div class="tab-content">
                <div id="galleries" class="tab-pane fade in active">
                    <%_ include partials/settings/galleries _%>
                </div>

                <div id="infotext" class="tab-pane fade">
                    <%_ include partials/settings/info-text _%>
                </div>

                <div id="designs" class="tab-pane fade">
                    <%_ include partials/settings/designs _%>
                </div>

                <div id="sort-order" class="tab-pane fade">
                    <%_ include partials/settings/sort-order _%>
                </div>
            </div>
        </div>
    </main>

    <style>
        form {
            border-radius: 7px;
            background-color: rgba(255, 255, 255, .15);
            padding: 2em;
        }
    </style>

    <script>
        $(".image-file").change(function() {
            var files = this.files;
            var $imageUrl = $(this).closest(".image-input-group").find(".image-url");
            $imageUrl.attr({disabled: false, title: ""}).val("").not(":first").remove();
            if (files && files.length) {
                $.each(files, function(i, file) {
                    var reader = new FileReader();
                    reader.readAsDataURL(file);
                    reader.onload = function(e) {
                        if (i > 0) {
                            $imageUrl.clone().attr({disabled: true, title: file.name}).val(e.target.result).insertBefore($imageUrl.last())
                        } else {
                            $imageUrl.attr({disabled: true, title: file.name}).val(e.target.result)
                        }
                    };
                })
            }
        });

        $("form").submit(function(e) {
            e.preventDefault();
            $(e.target).find(".image-url").attr("disabled", false);
            $.post(this.action, $(this).serializeArray(), function(res) {
                $(e.target).find(".img-preview").empty();
                $(e.target).find("#photo_set_new").remove();
                e.target.reset();
                alert(res);
            })
        })
    </script>
<%_ include partials/footer _%>
