<%_ include partials/header _%>
	<label> New gallery (Photography) </label>
	<form class="form-group gallery-settings" data-action="/save/gallery">
		<label class="sr-only">Gallery Name</label>
		<input class="form-control details" type="text" id="gallery" name="gallery" placeholder="Gallery ID">
		<label class="sr-only">Label</label>
		<input class="form-control details" type="text" id="label" name="label" placeholder="Label">
		<input class="form-control submit" type="submit" name="submit" value="Save">
	</form>

	<label> Designs </label>
	<form class="form-group designs-settings" data-action="/save/designs">
		<label class="sr-only">ID</label>
		<input class="form-control details" type="text" id="id" name="id" placeholder="ID">
		<label class="sr-only">Client</label>
		<input class="form-control details" type="text" id="client" name="client" placeholder="Client">
		<label class="sr-only">Tools</label>
		<input class="form-control details" type="text" id="tool" name="tool" placeholder="tool">
		<label class="sr-only">Description</label>
		<input class="form-control details" type="text" id="description" name="description" placeholder="Description">
		<label class="sr-only">Link</label>
		<input class="form-control details" type="text" id="link" name="link" placeholder="Link">
		<input class="form-control submit" type="submit" name="submit" value="Save">
	</form>

	<label> Info </label>
	<form class="form-group info-text-settings" data-action="/save/info-text">
		<label class="sr-only">Info</label>
		<input class="form-control details" type="text" id="info" name="info" placeholder="Info">
		<input class="form-control submit" type="submit" name="submit" value="Save settings">
	</form>
<%_ include partials/footer _%>
