<section class="work">
	<div class="inner-container">
		<div class="row">
			<div class="col-sm-6 thumb" id="figures">
				<div class="cover-image"></div>
				<a><div class="overlay-label"><h3>Faces</h3></div></a>
			</div>
			<div class="col-sm-6 thumb" id="beatfreeks">
				<div class="cover-image" style="background-color: black"></div>
				<a><div class="overlay-label"><h3>Editorial</h3></div></a>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 thumb" id="places1">
				<div class="cover-image"></div>
				<a><div class="overlay-label"><h3>Places</h3></div></a>
			</div>
			<div class="col-sm-6 thumb" id="designs">
				<div class="cover-image"></div>
				<a><div class="overlay-label"><h3>Designs</h3></div></a>
			</div>
		</div>
	</div>
</section>
