@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css');
@import url('https://use.fontawesome.com/releases/v5.2.0/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Montserrat|Arvo');

html, body {
	padding:0!important;
	background-color: black;
	font-family: 'Montserrat', 'Century Gothic', sans-serif;
	color: white;
	font-feature-settings: "liga" 0;
}

a, a:link, a:visited, a:hover {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
	transition: .5s;
}
a:hover {
	color: white;
}
::selection {
	color: black;
	background: gold
}
img:not(#logo) {
	pointer-events: none!important
}
ul {
	list-style:none;
	padding: 0
}
::-webkit-scrollbar {
	display: none;
	width: .5em;
}
::-webkit-scrollbar-thumb {
	background-color: #777;
	border-radius: 10px;
}
::-webkit-scrollbar-track {
	background-color: transparent;
}

.row {
	margin: 0;
}