.galleria-theme-classic,
.galleria-theme-classic .galleria-thumbnails-container,
.galleria-theme-classic .galleria-thumbnails .galleria-image {
    background:transparent;
    width: auto!important;
}

.galleria-theme-classic .galleria-thumbnails-container {
    left: 50%; transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    width: 80%; height: 50px;
}

.galleria-theme-classic .galleria-info-link {
    padding: 10px; border: 2px white solid; border-radius: 50%;
}

.galleria-theme-classic .galleria-info,
.galleria-theme-classic .galleria-info-link {
    right: 5px; top: 5px; left: auto;
    opacity: 0;
    transition: .5s;
}

.galleria-theme-classic:hover .galleria-info,
.galleria-theme-classic:hover .galleria-info-link {
    opacity: 1;
}

.galleria-theme-classic .galleria-info-close,
.galleria-theme-classic .galleria-info-text {
    position: absolute;
    top: 15px;
}

.galleria-theme-classic .galleria-info-text {
    top: 10px; right: 0;
    width: auto;
    background-color: rgba(0, 0, 0, .5);
    border-radius: 7px;
    border-top-right-radius: 0px;
    padding: 10px 20px;
}

.galleria-theme-classic .galleria-info-title {
    font-size: inherit; margin-right: 15px; text-align: right
}

.galleria-theme-classic .galleria-info-description {
    text-align: right;
}

.galleria-theme-classic .galleria-thumbnails .galleria-image {
    border: 2px black solid;
    border-radius: 5px
}

.galleria-theme-classic .galleria-stage {
    top: 0; bottom: 0; right: 0; left: 0;
    height: 100%
}

.galleria-errors,
.galleria-counter {
    display: none!important
}

.galleria-theme-classic .galleria-info-title,
.galleria-theme-classic .galleria-info-description,
.galleria-theme-classic .galleria-counter {
    font-family: inherit
}
