header {
    padding: 40px 0;
}

#logo {
    text-align: center;
}

#logo img {
    height: 60px;
    -webkit-filter: invert(1);
    filter: invert(1);
}

main {
    padding-bottom: 50px;
}

footer {
    text-align: center;
    padding-bottom: 50px;
}

footer > *:not(:last-child) {
    padding-bottom: 20px;
}

footer .socials {
    font-size: 2em;
}

footer .toTop {
    top: .5em;
    cursor: pointer;
}

form {
    max-width: 550px;
    margin: 0 auto;
}

form .row .column.xs {
    padding: 0 .5em;
}

form .row .column.xs:first-child {
    padding-left: 0;
}

form .row .column.xs:last-child {
    padding-right: 0;
}

.form-control {
    margin-bottom: 1em;
    box-shadow: none;
    border: none;
}

textarea,
textarea.form-control {
    min-width: 100%;
    max-width: 100%;
    height: 6em
}

form.info-text-settings textarea {
    height: 15em
}

@media (min-width: 768px) {
    form .row .column.sm {
        padding: 0 .5em;
    }

    form .row .column.sm:first-child {
        padding-left: 0;
    }

    form .row .column.sm:last-child {
        padding-right: 0;
    }
}

label {
    margin-left: 12px;
}

hr {
    border-top: 1px solid rgb(150, 150, 150);
    width: 40%;
    opacity: 0;
    margin: 0;
    padding: 1.5em 0;
}

.content .media-container {
    padding: 5px;
}

.content .media-container > .inner {
    height: 500px;
}

body:not(#design) .content .media-container > .inner {
    position: relative;
}

.content.galleria-init {
    overflow: hidden;
}

.content.galleria-init .img-container > .inner {
    background-color: rgba(0,0,0,.1);
    cursor: pointer;
}

.content.galleria-init .img-container label {
    margin: 5px 0;
}

.content > .txt-container > .inner {
    padding: 20px;
    height: auto;
}

@media (max-width: 767px) {
    .content.galleria-init {
        overflow: visible;
    }

    .content .media-container > .inner {
        height: 350px;
    }

    .content > .txt-container > .inner {
        background-color: transparent;
    }

    @media (orientation: portrait) {
        .content.galleria-init .img-container {
            padding-left: 0;
            padding-right: 0;
            margin: 0 -15px;
        }

        .content.galleria-init .img-container label {
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

#design .content .img-container .inner {
    height: 500px;
}

@media (min-width: 768px) {
    #design .content .img-container .inner {
        border-radius: 10px;
    }
}

.menu-icon-container {
    position: fixed;
    top: 40px;
    left: 30px;
    z-index: 110;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(30, 30, 30, .9);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    transition: .5s transform;
    z-index: 100;
}

nav.show {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

nav .link-group {
    margin-top: 60px;
    padding: 50px;
    padding-right: 100px;
}

nav a:not(:last-child) {
    display: block;
    margin-bottom: 2em;
}

.modal-backdrop {
    background-color: inherit;
}

.modal-backdrop.in {
    opacity: 1;
}

.modal-open .modal {
    padding: 0!important;
}

.modal .iframe {
    height: 100%;
}

.modal .modal-body {
    padding: 30px 0px;
}

.gallery-modal .modal-body {
    height: 100%;
}

.modal .galleria-image-nav-left,
.modal .galleria-image-nav-right {
    -webkit-filter: invert(1);
    filter: invert(1);
}

.modal .modal-icons {
    position: fixed;
    right: 15px;
    top: 10px;
    font-size: 1.75em;
    overflow: hidden;
    z-index: 96;
}

.modal .modal-icons .close-view {
    padding: 0;
    margin-top: 6px;
}

#info .info-txt {
    margin-bottom: 3em;
}

#info .info-txt-carousel {
    left: 120px;
}

#info .info-txt > div > div {
    display: none;
}

.loader {
    position: absolute;
    left: 50%;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 4px solid rgba(150, 150, 150, .15);
    border-top-color: rgb(150, 150, 150);
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}

@-webkit-keyframes spin {
    from { -webkit-transform: translateX(-50%) rotate(0deg); transform: translateX(-50%) rotate(0deg) }
    to { -webkit-transform: translateX(-50%) rotate(360deg); transform: translateX(-50%) rotate(360deg) }
}

@keyframes spin {
    from { transform: translate(-50%, -50%) rotate(0deg) }
    to { transform: translate(-50%, -50%) rotate(360deg) }
}

.expand-icon {
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    padding: 5px 10px;
    cursor: pointer;
    background-color: rgb(30, 30, 30);
    z-index: 20;
    transition: .5s opacity;
}

.img:hover .expand-icon {
    opacity: 1;
}

.tab-content {
    padding: 2em 0;
}

.nav.nav-pills {
    display: table;
    margin: 0 auto;
}

.nav.nav-pills> .active > a,
.nav.nav-pills> .active > a:focus,
.nav.nav-pills> .active > a:hover {
    background-color: rgb(150, 150, 150);
    color: rgb(30, 30, 30);
    opacity: 1;
}

.grid {
    display: grid;
    grid-template-columns: 100%;
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
}

.grid > .img-container > .inner.img {
    position: relative;
    height: 100%;
}

.grid .vertical {
    grid-row: span 2;
}

.grid label {
    position: relative;
    z-index: 10;
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    padding: 5px 10px;
    background-color: rgb(30, 30, 30);
}

.grid .media-container {
    padding-left: 0;
    padding-right: 0;
}

@media (min-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 50%);
        grid-auto-rows: 250px;
    }

    .grid .horizontal {
        grid-column: span 2;
        grid-row: span 2;
    }

    .grid .media-container {
        padding: 5px;
    }
}

@media (min-width: 992px) {
    .grid {
        grid-template-columns: repeat(3, 33.333%);
    }
}