.leg {
	display: none;
	position: fixed;
	bottom: 10px;
	left: 10px;
	text-align: left;
	font-size: .6em;
	text-shadow: 0px 0px 5px #000000, 0px 0px 10px #000000;
	z-index: 97;
}

@media (min-width: 768px) {
	.leg {
		display: block;
	}
}

.container-fluid {
	position: relative;
	padding: 0; margin: 0;
	height: 100%;
	z-index: 10;
}

nav, .main {
	padding: 0;
}

nav {
	display: none;
	height: auto;
	padding-top: 1.5em;
	text-transform: lowercase;
	overflow: auto;
	background-color: rgba(0,0,0,.8);
	width: 100%;
	z-index: 99;
}

.nz nav {
	position: fixed;
	padding-left: 0;
	padding-right: 0;
}

nav .inner-nav {
	width: 100%; height: 100%;
}

nav .row {
	padding: 3px 0;
	letter-spacing: 5px;
	text-align: center;
}

nav .row.link {
	padding: 10px 0;
}

nav .row a {
	display: inline-block;
	width: 100%;
}

nav .nav-icons {
	display: none;
	font-size: 1.5em
}

nav .nav-icons a {
	display: inline;
}

nav .gap {
	margin-top: 3em;
}

#nav_dropdown {
	position: fixed;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	text-align: center;
	text-transform: lowercase;
	letter-spacing: 5px;
	margin-top: 10px;
	padding: 20px;
	cursor: pointer;
	text-shadow: 0px 0px 5px #000, 0px 0px 5px #000;
	z-index: 20;
}

.main {
	height: 100%;
}

.main .centre {
	position: relative;
	left: 50%; top: 50%;
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}

.main section {
	width: 100%; height: 100%;
}

#navclose {
	padding: 2em 0 1em;
	cursor: pointer;
}

@media (min-width: 768px) {
	.main, nav {
		height: 100%;
	}
	nav {
		display: block;
		padding-top: 80px;
		padding-left: 15px;
		background-color: initial;
	}
	.nz nav {
		position: static;
	}
	nav .inner-nav {
		position: fixed;
		top: 50%;
		width: calc(100% / 3);
		height: auto;
		transform: translateY(-50%);
	}
	nav .row {
		letter-spacing: 0;
		margin-left: 0;
		-webkit-transform: translateX(0); 
		transform: translateX(0); 
	}
	nav .nav-icons {
		display: block;
	}
	#navclose {
		display: none;	
	}
	#nav_dropdown {
		display: none;
	}
}

.index-slideshow {
	width:100%;
	height:100%;
}

.index-slideshow#assorted .galleria-theme-classic .galleria-thumbnails-container,
.index-slideshow#assorted .galleria-theme-classic .galleria-image-nav,
.index-slideshow#assorted .galleria-theme-classic .galleria-info-link,
.cover-image .galleria-theme-classic .galleria-thumbnails-container,
.cover-image .galleria-theme-classic .galleria-image-nav,
.cover-image .galleria-theme-classic .galleria-info-link {
	display: none;
}

.bgvid {
	position:fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	transform: translate(---50%,-50%);
	width:100%; height:100%;
	overflow:hidden;
	z-index:1
}

.bgvid video {
	width: auto;
	height: 100%
}

@media (min-aspect-ratio: 16/9) {
	.bgvid video {
		width: 100%;
		height: auto
	}
}

#logo {
	height: 6em;
	-webkit-filter: invert(100%) drop-shadow(0px 0px 5px #000);
	filter: invert(100%) drop-shadow(0px 0px 5px #000);
}

.contact {
	width: 100%; height: 100%;
	padding: 0 20px;
}

.contact form {
	max-width: 400px;
}

.contact form .details {
	margin-bottom: 20px;
	background-color: transparent;
	border-width: 0px;
	border-bottom: 1px solid;
	color: white;
}

.contact form .details.half {
	width: calc(50% - 10px);
	float: left;
}

.contact form textarea {
	height: 10em;
	resize: none;
}

@media (min-width: 768px) {
	.contact form.centre {
		-webkit-transform: translate(0, -50%);
		transform: translate(0, -50%);
		left: 0;
	}
}

.info .info-body {
	padding: 0 20px;
	text-align: center;
}

.info .info-icons {
	display: block;
	font-size: 1.5em;
}

.info .gap {
	margin-top: 3em;
}

@media (min-width: 768px) {
	.info .info-body {
		text-align: left;
	}

	.info .info-icons {
		display: none;
	}
}

.work .inner-container {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	height: calc(100% - 130px);
}

.work .row {
	height: 50%;
}

.work .thumb {
	height: 50%;
	padding: 0;
}

.work .thumb .cover-image,
.work .thumb .overlay-label {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	transition: .5s;
}

.work .thumb .overlay-label {
	text-transform: lowercase;
	background-color: rgba(0,0,0,.5);
	z-index: 98;
}

.work .thumb .overlay-label h3 {
	position: relative;
	text-align: center;
	margin: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

@media (min-width: 768px) {
	.work .inner-container {
		height: 100%;
	}

	.work .thumb {
		height: 100%;
	}

	.work .thumb .overlay-label {
		opacity: 0;
	}

	.work .thumb .overlay-label:hover {
		opacity: 1;
	}
}

#gallery_view {
	background-color: rgba(0,0,0,.75);
}

#gallery_view .modal-dialog {
	width: 100%; height: 100%;
	margin: 0;
}

#gallery_view .modal-content,
#gallery_view .modal-body,
#gallery_view .iframe {
	height: 100%;
}

#gallery_view .modal-body {
	padding: 30px 0px;
}

#gallery_view .modal-content {
	background-color: transparent;
	border: none;
	box-shadow: none;
}

#gallery_view .galleria-info-link,
#gallery_view .galleria-thumbnails-container {
	display: none;
}

#gallery_view .modal-icons {
	position: absolute;
	top: 20px; right: 20px;
	z-index: 96;
}

#gallery_view .close {
	display: inline-block;
	width: 30px; height: 30px;
	opacity: 1;
}

#gallery_view .close > div {
	width: 100%; height: 100%;
	transform: rotate(45deg);
}

#gallery_view .close #vertical {
	position: absolute;
	left: 50%; transform: translateX(-50%);
	width: 5px; height: 100%;
	background-color: white;
}

#gallery_view .close #horizontal {
	position: absolute;
	top: 50%; transform: translateY(-50%);
	width: 100%; height: 5px;
	background-color: white;
}

#gallery_view #toggleThumbnails {
	display: inline-block;
	margin: -3px 1em 0 0;
	letter-spacing: 2px;
	line-height: 75%;
	cursor: pointer;
}
