header {
	margin-top: 60px;
}

main {
	margin-top: 60px;
	padding-bottom: 50px;
}

footer {
	text-align: center;
	padding-bottom: 50px;
}

footer > *:not(:last-child) {
	padding-bottom: 20px;
}

footer .socials {
	font-size: 2em;
}

footer .toTop {
	top: .5em;
	cursor: pointer;
}

.title {
	text-align: center;
}

.title > div {
	margin-bottom: 30px;
}

.title .name {
	font-size: 2em;
}

.title .occupation {
	letter-spacing: 3px;
}

.content > [class*="-container"] {
	padding: 10px;
}

.content > [class*="-container"] > .inner {
	background-color: rgba(0,0,0,.1);
	height: 350px;
}

.content.galleria-init > .img-container > .inner {
	cursor: pointer;
}

.content > .txt-container > .inner {
	padding: 20px;
	overflow: auto;
}

@media (max-width: 767px) {
	.content > .txt-container > .inner {
		background-color: transparent;
		height: auto;
	}
}

#design .content > [class*="-container"]:nth-child(even) {
	margin-bottom: 3em;
}

.menu {
	text-align: center;
}

.menu.fixed {
	height: 29px;
}

.menu.fixed .nav-group {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(255, 228, 181, .9);
	padding: 20px 0;
	z-index: 100;
}

.menu nav {
	padding-top: 1em;
	text-transform: uppercase;
}

@media (min-width: 768px) {
	.menu.fixed {
		height: 20px;
	}

	.menu nav {
		padding: 0;
		text-transform: initial;
		border: none;
	}
}

.menu.fixed .nav-group .scroll-tracker {
	position: absolute;
	top: 0;
	width: 0;
	height: 5px;
	background-color: rgba(25, 25, 25, .5);
}

.modal-backdrop {
	background-color: inherit;
}

.modal-backdrop.in {
	opacity: 1;
}

.modal-open .modal {
	padding: 0!important;
}

.modal .iframe {
	height: 100%;
}

.modal .modal-body {
	padding: 30px 0px;
}

.gallery-modal .modal-body {
	height: 100%;
}

.modal .galleria-info-link,
.modal .galleria-thumbnails-container {
	display: none;
}

.modal .galleria-image-nav-left,
.modal .galleria-image-nav-right {
	-webkit-filter: invert(1);
	filter: invert(1);
}

.modal .modal-icons {
	position: fixed;
	right: 15px;
	top: 10px;
	font-size: 1.75em;
	overflow: hidden;
	z-index: 96;
}

.modal .modal-icons .close-view {
	padding: 0;
	margin-top: 6px;
}

.slideshow > div {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}