#header {
  padding: 30px 0 40px;
}

#header .hamburger {
  padding: 0;
  outline: none;
}

#header .hamburger:hover,
#header .hamburger.is-active:hover {
  opacity: 1;
}

#header .hamburger-box {
  width: 24px;
}

#header .hamburger-inner:before,
#header .hamburger-inner:after,
#header .hamburger-inner {
  width: 100%;
  height: 2px;
}

#header .hamburger-inner:before,
#header .hamburger-inner:after,
#header .hamburger-inner,
#header .hamburger.is-active .hamburger-inner:before,
#header .hamburger.is-active .hamburger-inner:after,
#header .hamburger.is-active .hamburger-inner {
  background-color: rgb(255, 228, 181);
}

#logo {
  display: table;
}

#logo img {
  height: 55px;
  -webkit-filter: invert(1);
  filter: invert(1);
  -moz-transform: rotate(10deg);
  -webkit-transform: rotate(10deg);
  transform: rotate(10deg);
}
