                <form class="form-group design-settings" method="post" action="/settings/design/save">
                    <div class="row">
                        <div class="col-sm-6 column sm">
                            <label>ID</label>
                            <input class="form-control details" type="text" id="d-id" name="d_id" required>
                        </div>
                        <div class="col-sm-6 column sm">
                            <label>Client</label>
                            <input class="form-control details" type="text" id="client" name="client" required>
                        </div>
                    </div>
                    <label>Tools</label>
                    <input class="form-control details" type="text" id="tools" name="tools" required>
                    <label>Description</label>
                    <textarea class="form-control details" type="text" id="description" name="description" required></textarea>
                    <label>Link</label>
                    <input class="form-control details" type="url" name="link" id="design-link" required>
                    <label>Index</label>
                    <input class="form-control details" type="number" name="index" id="design-index" min="1" max="<%= designs.length+1 %>" value="<%= designs.length+1 %>" required>
                    <label>Upload images</label>
                    <div class="image-input-group-container">
                        <div class="image-input-group row" style="margin-bottom: 1.5em;">
                            <div class="col-sm-5 column sm">
                                <input type="file" class="image-file-input" accept="image/*,video/*"><br>
                            </div>
                            <div class="col-sm-7 column sm">
                                <input type="url" class="form-control image-url" name="media" placeholder="Enter image / video URL (optional)">
                                <input type="hidden" name="media" disabled>
                            </div>
                            <div class="col-sm-12" style="text-align: right; padding: 0 .5em">
                                <a class="image-input-group-btn" data-opt="add">Add</a>
                                <a class="image-input-group-btn" data-opt="remove" style="margin-left: 20px">Remove</a>
                                <a class="image-input-group-btn" data-opt="clear" style="margin-left: 20px">Clear Input</a>
                            </div>
                        </div>
                    </div>
                    <input class="form-control submit" type="submit" value="Save">
                </form>

                <br><br><br>

                <form class="form-group design-edit-settings" method="post" action="/settings/design/edit">
                    <label>Select to edit</label>
                    <select class="form-control details" id="design-to-edit" name="id" required>
                        <option value="">Select design</option>
                        <%_ designs.forEach(design => { _%>
                        <option value="<%= design._id %>"><%= design.text.client %></option>
                        <%_ }) _%>
                    </select>
                    <label style="margin-bottom: 1em">All fields below are optional</label>
                    <div class="row">
                        <div class="col-sm-6 column sm">
                            <label>ID</label>
                            <input class="form-control details" type="text" id="d-id-edit" name="d_id">
                        </div>
                        <div class="col-sm-6 column sm">
                            <label>Client</label>
                            <input class="form-control details" type="text" id="client-edit" name="client">
                        </div>
                    </div>
                    <label>Tools</label>
                    <input class="form-control details" type="text" id="tools-edit" name="tools">
                    <label>Description</label>
                    <textarea class="form-control details" type="text" id="description-edit" name="description"></textarea>
                    <label>Link</label>
                    <input class="form-control details" type="url" id="link-edit" name="link">
                    <input class="form-control submit" type="submit" value="Edit Design">
                </form>

                <script>
                    $.post("/settings/design/docs", function(docs) {
                        $("#design-to-edit").change(function() {
                            var id = this.value;
                            var design = docs.filter(function(e) { return e._id == id })[0];
                            var $form = $(this).closest("form");
                            if (design) {
                                $("#d-id-edit").val(design.d_id);
                                $("#client-edit").val(design.text.client);
                                $("#tools-edit").val(design.text.tools);
                                $("#description-edit").val(design.text.description);
                                $("#link-edit").val(design.link);
                            } else {
                                $form.get(0).reset();
                            }
                        });
                    })
                </script>
