				<form class="form-group info-text-settings" method="post" action="/settings/info-text/save">
					<label class="sr-only">Info Text</label>
					<pre><textarea class="form-control details" type="text" id="text" name="text" placeholder="HTML or plain text"><%= docs.info ? docs.info.text : "" %></textarea></pre>
					<input class="form-control submit" type="submit" value="Save">
				</form>
